amqp==5.3.1
anyio==4.9.0
asgiref==3.8.1
backoff==2.2.1
billiard==4.2.1
celery==5.3.6
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
Django==5.2.3
django-celery-beat==2.8.1
django-cors-headers==4.7.0
django-crontab==0.7.1
django-filter==25.1
django-timezone-field==7.1
flower==2.0.1
gql==3.5.3
graphene==3.4.3
graphene-django==3.2.3
graphql-core==3.2.6
graphql-relay==3.2.0
humanize==4.12.3
idna==3.10
kombu==5.5.4
multidict==6.6.3
packaging==25.0
prometheus_client==0.22.1
promise==2.3
prompt_toolkit==3.0.51
propcache==0.3.2
python-crontab==3.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
redis==6.2.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
text-unidecode==1.3
tornado==6.5.1
typing_extensions==4.14.0
tzdata==2025.2
vine==5.1.0
wcwidth==0.2.13
yarl==1.20.1
